@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	font-family: 'Poppins', sans-serif;
}



html {
	background-image: url("img/stone_tile.jpg");
	background-size: 5%;
}

/*Header */
header {
}

nav ul {
	text-decoration: none;
	list-style: none;
	justify-content: right;
	/* padding: 1em; */
	padding: 14px 16px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	margin: auto;
	overflow: hidden;
	background-color: slategray;
}

nav a:link, nav a:visited {
	color: rgb(51, 56, 51);
	text-decoration: underline;
}

nav a:hover, nav a:active {
	color: black;
}

div {
	justify-content: center;
	padding: 1em;
}

.sub-div {
	display: flex;
	background-color: slategray;
}

article{
	padding: 2em;
}

article figure img {
	float: left;
	max-width: 30%;
	height: auto;
	/* display: block; */
	margin: 0 auto;
	 size: 25%;
}

/*Footer */
footer {
	background-color: slategray;
	color: white;
	margin: auto;
	text-align: center;
	padding-bottom: 0;
	bottom: 0;
	width: 100%;
	height: auto;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	article figure img {
		float: none;
		max-width: 100%;
		height: auto;
	}
}